Dictionary
- how to declare it
- How to  acess key and values of a dictionary
- Loping in dictionary

In [1]:
student = {
    "name": "John",
    "class" : "12th",
    "roll_no" : 12,
    "age" : 17,
}
print(student)

{'name': 'John', 'class': '12th', 'roll_no': 12, 'age': 17}

In [2]:
# 1st method
print(student["name"])
print(student["roll_no"])

John
12

In [3]:
#2nd method
print(student.get("name"))
print(student.get("roll_no"))

John
12

In [4]:
# to add items in a dictionary
student['school'] = "Lucknow Public School"
student['Fathers Name'] = 'Rahul'
print(student)

{'name': 'John', 'class': '12th', 'roll_no': 12, 'age': 17, 'school': 'Lucknow Public School', 'Fathers Name': 'Rahul'}

In [5]:
for key in student:
    print(key)

name
class
roll_no
age
school
Fathers Name

In [16]:
for k,v in student.items():
    print(f'{k} : {v}')

name : John
class : 12th
roll_no : 12
age : 17
school : Lucknow Public School
Fathers Name : Rahul

In [15]:
a = 10 
b = 20

# print("The sum of",a,"and",b,"is",a+b)
print(f"The sum of {a} and {b} is{a+b}")

The sum of 10 and 20 is 30

In [8]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'class', 'roll_no', 'age', 'school', 'Fathers Name'])
dict_values(['John', '12th', 12, 17, 'Lucknow Public School', 'Rahul'])
dict_items([('name', 'John'), ('class', '12th'), ('roll_no', 12), ('age', 17), ('school', 'Lucknow Public School'), ('Fathers Name', 'Rahul')])

In [9]:
company = {
    'emp001' : {
        'name' : 'John',
        'age' : 27,
        'dept' : 'HR',
        'salary' : 30000
    },
    'emp002' : {
        'name' : 'Smith',
        'age' : 24,
        'dept' : 'IT',
        'salary' : 40000
    },
    'emp003' : {
        'name' : 'Peter',
        'age' : 29,
        'dept' : 'Marketing',
        'salary' : 35000
    }  
}
print(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 30000}, 'emp002': {'name': 'Smith', 'age': 24, 'dept': 'IT', 'salary': 40000}, 'emp003': {'name': 'Peter', 'age': 29, 'dept': 'Marketing', 'salary': 35000}}

In [17]:
print(company['emp001']['age'])

27

In [11]:
company['emp004'] = {
    'name' : 'Rahul',
    'age' : 30,
    'dept' : 'IT',
    'salary' : 50000
}
print(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 30000}, 'emp002': {'name': 'Smith', 'age': 24, 'dept': 'IT', 'salary': 40000}, 'emp003': {'name': 'Peter', 'age': 29, 'dept': 'Marketing', 'salary': 35000}, 'emp004': {'name': 'Rahul', 'age': 30, 'dept': 'IT', 'salary': 50000}}

In [18]:
fruits = {
    'apple': 'red',
    'banana': 'yellow',
    'cherry': 'red',
    'orange': 'orange',
}
print(fruits)

{'apple': 'red', 'banana': 'yellow', 'cherry': 'red', 'orange': 'orange'}

In [19]:
temp= {
    'lucknow': [25, 30, 35],
    'delhi': [30, 35, 40],
    'chennai': [24, 23, 22],
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'chennai': [24, 23, 22]}

In [20]:
info = dict(name='John', age=27, dept='HR', salary=30000)
print(info)

{'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 30000}

In [21]:
info2 = dict(name=input('Enter the name'), age = int(input("Enyer the age")),
             dept=input("Enter the Department"), salary=int(input("Enter the salary")))

In [22]:
print(info2)

{'name': 'Rahul', 'age': 25, 'dept': 'Finance', 'salary': 45000}

In [23]:
#nested dictionary
report = {
    'Alex' : {
        'English' : 85,
        'Maths' : 90,
        'Science' : 78
     },
     'Rahul' : {
        'English' : 80,
        'Maths' : 85,
        'Science' : 90
     }
}
print(report)

{'Alex': {'English': 85, 'Maths': 90, 'Science': 78}, 'Rahul': {'English': 80, 'Maths': 85, 'Science': 90}}

In [24]:
from pprint import pp # pretty print

In [25]:
pp(report)

{'Alex': {'English': 85, 'Maths': 90, 'Science': 78},
 'Rahul': {'English': 80, 'Maths': 85, 'Science': 90}}

In [26]:
report['Alex']['Maths']

90

In [28]:
print(temp['delhi'][0])
print(temp['lucknow'][-1])

30
35

In [29]:
print('Average temperature in Delhi : ', sum(temp['delhi'])/len(temp['delhi']))

Average temperature in Delhi :  35.0

Alex
-> English 85
-> Maths 90
-> Science 78
-> Total marks  253
Rahul
-> English 80
-> Maths 85
-> Science 90
-> Total marks  255

In [34]:
for student, marks in report.items():
    print(student)
    for subject, mark in marks.items():
        print("->", subject, mark)
    print("-> Total marks ", sum(marks.values()))

Alex
-> English 85
-> Maths 90
-> Science 78
-> Total marks  253
Rahul
-> English 80
-> Maths 85
-> Science 90
-> Total marks  255

In [35]:
fruits.pop('banana')

'yellow'

In [36]:
print(fruits)

{'apple': 'red', 'cherry': 'red', 'orange': 'orange'}